@import '@economist/component-grid';
@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-icon';

:root {
  --icon-canvas-size: 38px;
  --icon-size: 30px;
  --icon-blank-space: calc(0.25 * 38px);
}

.ec-footer * {
  box-sizing: border-box;
}

.ec-footer {
  font-size: 1rem;
  font-family: var(--fontfamily-sans);
  background-color: var(--color-beijing);
  border-top: var(--color-economist) solid .4rem;
  padding: var(--grid-gutter-s);
  padding-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
  padding-bottom: 0;
  color: var(--color-london);
  overflow: hidden;  /* Because the -15px margin in the icon list could cause problems */
}

.ec-footer__wrapper {
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-sans-on-step--1);
  max-width: var(--site-max-width, 1000px);
  margin: 0 auto;
}

/* A couple of footer-specific resets */
.ec-footer a:hover, .ec-footer a:focus { opacity: 0.6; }
.ec-footer a:active { opacity: 0.3; }
.ec-footer ul { padding: 0; margin: 0; list-style: none; }
.ec-footer a { text-decoration: none; }

/* This makes the links have a bigger click area */
.ec-footer a {
  display: block;
}

.ec-footer__link {
  color: var(--color-london);
}

.ec-footer__quote-paragraph {
  margin: 0;
}

/* Standard spacing between pretty much everything :) */
.ec-footer__list .list__item .ec-footer__link,
.ec-footer__header,
.ec-footer__quote-paragraph,
.ec-footer__copyright,
.ec-footer__subscribe-newsletter-link {
  /* Divide by 2 because these are grids */
  padding-top: calc(var(--grid-spacing-donkey) / 2);
  padding-bottom: calc(var(--grid-spacing-donkey) / 2);
}

/* So kind of everything is going to have inline-block and be in 2 columns */
.ec-footer .list__item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.ec-footer__list--subs .list__item {
  width: 33%;
}

/* Tablet means 5 columns pretty much everywhere */
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .ec-footer .list__item,
  .ec-footer__list--subs .list__item {
    width: 20%;
  }
}

/* This makes sure that they stretch for flex to pick them up*/
.ec-footer__list--footnote .list__item,
.ec-footer__list--economist .list__item {
  white-space: nowrap;
}

.ec-footer__list--subs .ec-footer__link {
  color: var(--color-berlin);
  font-weight: 700;
}

.ec-footer__list--social .ec-footer__header {
  color: var(--color-moscow);
  margin: 0;
}

.ec-footer__list--social .list__item {
  width: calc(var(--icon-size) * 2);  /* Icons are always spaced by 1 icon apart */
}

.ec-footer__list--social .list {
  margin: calc(-1 * var(--icon-blank-space));
}
.ec-footer__list--social .list__item svg {
  display: block;
  margin: auto;
}

.ec-footer__subscribe-newsletter-icon {
  margin-right: calc(calc(-1 * var(--icon-blank-space)) + var(--grid-spacing-fox));
  vertical-align: middle;
}

.ec-footer__quote {
  text-align: center;
  color: var(--color-moscow);
  font-size: var(--text-size-step-1);
  line-height: var(--text-line-height-sans-on-step-1);
  margin: auto;
}
.ec-footer__quote em {
  font-family: var(--fontfamily-serif);
}

/* Make the text flow when the <br> don't make sense any more */
@media screen and (max-width: 600px) {
  .ec-footer__quote br { display: none; }
}

.ec-footer__footnote .ec-footer__copyright {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-sans-on-step--2);
  color: var(--color-moscow);
}

/* mobile only */
@media (max-width: 1000px) {
  .ec-footer__list--social,
  .ec-footer__list--economist,
  .ec-footer__quote,
  .ec-footer__footnote {
    border-top: 1px solid var(--color-moscow);
    margin-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
    padding-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
  }

  .ec-footer__copyright {
    margin: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2)) 0 0 0;
    padding: var(--grid-spacing-sheep) 0;
    border-top: 1px solid var(--color-moscow);
  }

  .ec-footer__quote--no-mobile {
    display: none;
  }
}

/* Desktop only */
@media screen and (min-width: 1001px) {
  .ec-footer {
    border-top-width: .6em;
    padding: 0 var(--grid-gutter-l);
  }

  .ec-footer__menu {
    display: flex;
  }
  /* Vertical spacing overrides */
  .ec-footer__menu {
    margin: var(--grid-spacing-camel) 0;
  }
  .ec-footer__quote {
    padding: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2)) 0;
    border-top: 1px solid var(--color-moscow);
  }

  /* footnote and copyright go side by side */
  .ec-footer__footnote {
    display: flex;
    border-top: 1px solid var(--color-moscow);
  }
  .ec-footer__copyright {
    flex: 1;
    text-align: right;
  }

  .ec-footer__list {
    padding: 0 var(--grid-spacing-donkey);
  }
  .ec-footer__list--footnote {
    padding: 0;
  }

  .ec-footer__list--subs .list__item {
    display: block;
    width: auto;
  }

  .ec-footer__list--social {
    border-left: 1px solid var(--color-moscow);
    border-right: 1px solid var(--color-moscow);
    flex: 1 0 0;
  }

  .ec-footer__list--social .list {
    margin-right: calc(-1 * var(--icon-blank-space) * 3);  /* So that the last icon does not jump to the next line*/
  }

  .ec-footer__list--economist {
    flex: 0 1 30%;
  }

  .ec-footer__footnote .ec-footer__link,
  .ec-footer__footnote .ec-footer__copyright {
    font-size: var(--text-size-step--2);
    line-height: var(--text-line-height-sans-on-step--2);
    margin: 0;  /* Reset <p> styling */
  }

  .ec-footer__footnote .list__item {
    padding-right: var(--grid-spacing-fox);
    width: auto;
  }
  .ec-footer__footnote .list__item:last-child {
    padding-right: 0;
  }
}
