/*
@import '@economist/component-reset';
*/
@import '@economist/component-grid';
@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-icon';


.ec-footer {
  font-size: 1rem;
  font-family: var(--fontfamily-body);
  font-weight: normal;
  background-color: var(--color-beijing);
  border-top: var(--color-economist) solid .4rem;
  padding: var(--grid-gutter-s);
  padding-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
  padding-bottom: 0;
  color: var(--color-london);
}

.ec-footer__wrapper {
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-body-on-step--1);
  max-width: 1000px;
  margin: 0 auto;
}

/* A couple of footer-specific resets */
.ec-footer a:hover, .ec-footer a:focus { opacity: 0.6; }
.ec-footer a:active { opacity: 0.3; }
.ec-footer ul { padding: 0; margin: 0; list-style: none; }
.ec-footer a { text-decoration: none; }

/* This makes the links have a bigger click area */
.ec-footer a {
  display: block;
}

.ec-footer__link {
  color: var(--color-london);
}

.ec-footer__quote-paragraph {
  margin: 0;
}

/* Standard spacing between pretty much everything :) */
.ec-footer__list .list__item .ec-footer__link,
.ec-footer__header,
.ec-footer__quote-paragraph,
.ec-footer__copyright,
.ec-footer__subscribe-newsletter-link {
  /* Divide by 2 because these are grids */
  padding-top: calc(var(--grid-spacing-donkey) / 2);
  padding-bottom: calc(var(--grid-spacing-donkey) / 2);
}

.ec-footer__list--subs .list__item,
.ec-footer__list--economist .list__item,  {
  white-space: nowrap;
  overflow: hidden;
}

.ec-footer__list--subs .ec-footer__link {
  color: var(--color-berlin);
  font-weight: 700;
}

.ec-footer__list--social .ec-footer__header {
  color: var(--color-moscow);
  margin: 0;
}

.ec-footer__list--social .list__item {
  width: calc(0.5 * 60px * 2); /* Icons have a fixed spacing */
  display: inline-block;
}

.ec-footer__list--social .list {
  margin: calc(-0.25 * 60px);  /* Icons are 60px wide, and they have 25% spacing around them. Compensate for said spacing */
}
.ec-footer__list--social .list__item svg {
  display: block;
  margin: auto;
}

.ec-footer .ec-footer__subscribe-newsletter-icon {
  margin: calc(-0.25 * 60px);
  margin-right: calc(calc(-0.25 * 60px) + var(--grid-spacing-rabbit));
  vertical-align: middle;
}

.ec-footer__quote {
  text-align: center;
  color: var(--color-moscow);
  font-size: var(--text-size-step-1);
  line-height: var(--text-line-height-body-on-step-1);
  margin: auto;
}
.ec-footer__quote em {
  font-family: var(--fontfamily-display);
}

/* Make the text flow when the <br> don't make sense any more */
@media screen and (max-width: 600px) {
  .ec-footer__quote br { display: none; }
}

.ec-footer__footnote .ec-footer__copyright {
  font-size: var(--text-size-step--2);
  line-height: var(--text-line-height-body-on-step--2);
  color: var(--color-moscow);
}

.ec-footer__list--subs .list,
.ec-footer__list--economist .list,
.ec-footer__footnote .list{
  display: flex;
  flex-wrap: wrap;
}

.ec-footer__list--subs .list__item,
.ec-footer__list--economist .list__item {
  flex: 1 0 50%;
}

/* mobile only */
@media (max-width: 1000px) {
  .ec-footer__list--social,
  .ec-footer__list--economist,
  .ec-footer__quote,
  .ec-footer__footnote,
  .ec-footer__copyright {
    border-top: 1px solid var(--color-moscow);
  }

  /* Vertical spacing */
  .ec-footer__list--social,
  .ec-footer__list--economist,
  .ec-footer__quote,
  .ec-footer__footnote {
    margin-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
    padding-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
  }

  .ec-footer__copyright {
    margin: 0;
    margin-top: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2));
    padding: var(--grid-spacing-sheep) 0;
  }
  .ec-footer__footnote .ec-footer__list .list__item {  /* TODO reduce specificity of this one */
    width: 50%;
  }
}

/* Tablet */
@media (min-width: 650px) {
  .ec-footer__list--subs .list__item,
  .ec-footer__list--economist .list__item {
    flex: 1 0 25%;
  }

  .ec-footer__footnote .ec-footer__list .list__item {
    width: 25%;
  }
}

/* Desktop only */
@media (min-width: 1001px) {
  .ec-footer {
    border-top: .6em solid var(--color-economist);
    background-color: var(--color-beijing);
    padding: 0 var(--grid-gutter-l);
    color: var(--color-london);
  }

  .ec-footer__menu {
    display: flex;
  }
  .ec-footer__list--subs {
    font-weight: 700;
    display: block;
  }
  .ec-footer__list--list {
    display: block;
  }

  /* Vertical spacing overrides */
  .ec-footer__menu {
    margin: var(--grid-spacing-camel) 0;
  }
  .ec-footer__quote {
    padding: calc(var(--grid-spacing-camel) - calc(var(--grid-spacing-donkey) / 2)) 0;
    border-top: 1px solid var(--color-moscow);
  }

  .ec-footer__list:first-child {
    padding-left: 0;
  }

  .ec-footer__list {
    padding: 0 var(--grid-spacing-donkey);
  }

  .ec-footer__list--subs .list {
    display: block;
  }

  .ec-footer__list--social {
    border-left: 1px solid var(--color-moscow);
    border-right: 1px solid var(--color-moscow);
    flex: 1 0 0;
  }

  .ec-footer__list--social .list {
    margin-right: calc(-0.25 * 60px * 3);  /* So that the last icon does not jump to the next line*/
  }

  .ec-footer__list--economist {
    flex: 0 1 30%;
  }

  .ec-footer__list--economist .list {
    flex-wrap: wrap;
    display: flex;
  }

  .ec-footer__list--economist .list__item {
    white-space: nowrap;
    width: auto;
    flex: 1 0 50%;
  }

  .ec-footer__footnote {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-moscow);
  }

  .ec-footer__footnote .list {
    display: block;
  }

  .ec-footer__footnote .ec-footer__link,
  .ec-footer__footnote .ec-footer__copyright {
    font-size: var(--text-size-step--2);
    line-height: var(--text-line-height-body-on-step--2);
  }

  .ec-footer__footnote .list__item {
    padding-right: var(--grid-spacing-fox);
    float: left;
  }
  .ec-footer__footnote .list .list__item {  /* TODO when specificity of previously TODO'ed selector is reduced, reduce this one's*/
    width: auto;
  }

  .ec-footer__footnote .list__item:last-child {
    padding-right: 0;
  }

  .ec-footer__copyright {
    margin-top: 0;
    float: right;
  }

  .ec-footer__footnote .list__item:first-child {
    padding-left: 0;
  }
}

